<div class="row">
    <div class="container">
        <div class="logo">
            <img src= "../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/linkedin.png"></a>
                <a href=""><img src="../../../assets/twitter.png"></a>
                <a href="https://www.instagram.com/carocaucino/"><img src="../../../assets/instagram.png"></a>
                <a href="https://github.com/ccauci/proyectointegrador"><img src="../../../assets/github.png"></a>
                <a href="https://www.facebook.com/caro.caucino"><img src="../../../assets/facebook.png"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
            
        </div>
    </div>
</div>
    <div></div>
