<div class= "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Caucino Carolina</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Atque nobis et similique tenetur assumenda, aspernatur ut 
                dolores modi ratione nam eligendi aperiam alias asperiores 
                debitis vitae perferendis ea unde ipsam!</p>
        </span>
    </div>

    </div>
